body,input,form,p,pre,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
} 
ul,li,ol,dl,dt,dd{
	margin:0;
	padding:0;
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
*{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
i{
	font-style: normal;
}
b{
	font-weight: normal;
}
u{
	text-decoration: none;
}
img{
	border: 0;
}
/*img:not([src$='png']){
	background: #ddd url(../img/defaultBg.png) no-repeat center center; 
	background-size: contain;
}*/
img.img-load{
	background: none;
}
html{
	/*font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Hiragino Sans GB,STHeiTi,Arial,sans-serif;*/
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	min-height: 100%;
	position: relative;
}
body{
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	/*font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-size: 16px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
input,textarea,button{
	border: none;
	outline: none;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; 
}
table {
  border-collapse: collapse;
  border-spacing: 0; 
}
textarea,input,button{
	margin: 0;
	padding: 0;
}
#cli_dialog_div {
	display: none;
}
.clear{
	clear: both;
}
/*单行文本*/
.slh1{
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
/*两行文本*/
.slh2{
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	display: -webkit-box!important;
	overflow: hidden;
	text-overflow:ellipsis;
}
/*三行文本*/
.slh3{
	-webkit-line-clamp:3;
	-webkit-box-orient:vertical;
	display: -webkit-box;
	overflow: hidden;
	text-overflow:ellipsis;
}
.slh4{
	-webkit-line-clamp:4;
	-webkit-box-orient:vertical;
	display: -webkit-box;
	overflow: hidden;
	text-overflow:ellipsis;
}
.slh5{
	-webkit-line-clamp:5;
	-webkit-box-orient:vertical;
	display: -webkit-box;
	overflow: hidden;
	text-overflow:ellipsis;
}
.slh6{
	-webkit-line-clamp:6;
	-webkit-box-orient:vertical;
	display: -webkit-box;
	overflow: hidden;
	text-overflow:ellipsis;
}
.slh7{
	-webkit-line-clamp:7;
	-webkit-box-orient:vertical;
	display: -webkit-box;
	overflow: hidden;
	text-overflow:ellipsis;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.rt{
    float: right;
}
.lf{
    float: left;
}
.pc html,.pc body{
	min-width: 12rem;
}
.pc body{
	padding-top: .6rem;
}
html.phone{
	overflow-x: hidden;
	width: 100%;
}
.phone body{
	overflow-x: hidden;
}
body{
	background: #fff;
}
.pc body{
	min-width: 12rem;
}
/*修改滚动条样式*/
.pc .special-scrollbar::-webkit-scrollbar {
    width: .04rem;
    height: .04rem;
    background-color: transparent;
}

.pc .special-scrollbar::-webkit-scrollbar-thumb {
    border-radius: .04rem;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .1);
    background-color: #BCBCBC;
}

/*导航样式*/
.nav{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: none;
}
.pc .pc-nav{
	display: block;
}
.pc .nav-mask{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: .7rem;
	z-index: 50;
	background: #fff;
}
.phone .phone-nav{
	display: block;
}
.phone .nav{
	width: 100%;
	height: 0.9rem;
}


/*logo动画特效*/
body .textcontainer {
  text-align: center;
}
body .particletext {
  text-align: center;
  font-size: 48px;
  position: relative;
}


body .particletext.bubbles > .particle {
  opacity: 0;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.5);
  -webkit-animation: bubbles 3s ease-in infinite;
          animation: bubbles 3s ease-in infinite;
  border-radius: 100%;
}

@-webkit-keyframes bubbles {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-transform: translate(0, -20%);
            transform: translate(0, -20%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, -1000%);
            transform: translate(0, -1000%);
  }
}

@keyframes bubbles {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-transform: translate(0, -20%);
            transform: translate(0, -20%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, -1000%);
            transform: translate(0, -1000%);
  }
}


/*导航留白*/
.pc body{
	padding-top: .7rem;
}
.phone body{
	padding-top: 0.9rem;
}
/*pc 导航*/
.pc .nav{
	right: 0;
	margin: auto;
	width: 12rem;
	height: .7rem;
}
.pc-nav .logo-box{
	float: left;
	display: block;
	width: 1.27rem;
	height: .67rem;
}
.pc-nav .logo-box .logo{
	margin-top: .1rem;
	display: block;
	width: 1.27rem;
	height: .67rem;
	background: url('../img/nav-logo.svg') no-repeat;
	background-size: 100% auto;
}
.pc-nav-list{
	float: right;
	margin-top: .32rem;
}
.pc-nav-list li{
	float: left;
	margin-left: .5rem;
	height: .32rem;
	line-height: 0;
}
.pc-nav-list li.lan a{
	font-size: 0;
}
.pc-nav-list li.lan a>*{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
}
.pc-nav-list li.lan a img{
	width: 24px;
	height: 24px;
}
.phone-lan a img{
	width: .48rem;
	height: .48rem;
}
.pc-nav-list li.lan a span{
	margin-left: .04rem;
}
.nav .phone-lan{
	position: fixed;
	right: .5rem;
	top: 1.2rem;
}
.nav .phone-lan a{
	font-size: 0;
	display: block;
	color: #5DA5D3!important;
}
.nav .phone-lan a>*{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
}
.nav .phone-lan a span{
	margin-left: .1rem;
}
.pc-nav-list li a{
	display: block;
	color: #124C82;
	height: 100%;
	line-height: .2rem;
	font-size: 16px;
	font-weight: bold;
}
.pc-nav-list li.active{
	border-bottom: 5px solid #124C82;
	border-color: #1e82de;
}
.pc-nav-list li.active a{
	color: #1e82de;
}
/*移动端导航*/
.phone-nav{
	background: #252525;
}
.phone-nav .logo{
	display: block;
	float: left;
	width: .82rem;
	height: .42rem;
	margin-top: .25rem;
	margin-left: .3rem;
}
.phone-nav .hanbao{
	display: block;
	float: right;
	width: .6rem;
	/*height: .42rem;*/
	height: auto;
	margin-top: .25rem;
	margin-right: .3rem;
}
.phone-nav-list{
	display: none;
	position: absolute;
	left: 0;
	top: .9rem;
	width: 100%;
	height: auto;
	background: #252525;
	z-index: 4;
}
.phone-nav-list li{
	box-sizing: border-box;
	height: 1.2rem;
	line-height: 1.2rem;
	padding-left: .5rem;
}
.phone-nav-list a{
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
}







/*底部内容*/
.footer{
	width: 100%;
	height: 2.94rem;
	background: #1F2532;
	box-sizing: border-box;
}
.footer-con{
	padding-top: 1px;
	width: 12rem;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.phone .footer{
	height: 3.32rem;
	padding: 0 .3rem;
}
.phone .footer-con{
	width: 100%;
}
.footer-logo{
	position: absolute;
	left: 0;
	top: .85rem;
}
.footer-main{
	width: 5rem;
	margin: .8rem auto 0;
}
.contact{
	position: absolute;
	top: .8rem;
	right: 0;
	width: 2.32rem;
}
.footer-main{
	display: flex;
	justify-content: space-between;
}
.footer-main dt{
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: .14rem;
}
.footer-main dd a{
	color: #979797;
	font-size: 14px;
	line-height: .36rem;
}
.contact-list{
	border-bottom: 1px solid #414040;
	padding-bottom: .14rem;
	display: flex;
	justify-content: space-between;
}
.contact-list li{
	width: .21rem;
	height: .21rem;
}
.contact-list li img{
	display: block;
	width: 100%;
	height: 100%;
}
.footer-email{
	margin-top: .25rem;
}
.footer-email>*{
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	color: #919192;
	margin-right: .1rem;
}
.phone .footer-logo,
.phone .contact{
	position: relative;
	left: 0;
	top: 0;
	right: 0;
}
.phone .footer-logo{
	display: block;
	margin: .4rem auto 0;
}
.phone .footer-main{
	margin-top: .34rem;
	/*width: 5.4rem;*/
	width: 100%;
}
.phone .footer-main dt{
	font-size: 14px;
}
.phone .footer-main dd{
	font-size: 12px;
}
.phone .contact-list{
	display: none;
}
.phone .footer{
	height: auto;
	font-size: 0;
}
.phone .contact{
	margin: .08rem auto .26rem;
	width: auto;
	text-align: center;
}
.phone .footer-email{
	display: inline-block;
}




/*图标盒子效果*/
.pc .icon-box{
	/*width: 1.2rem;*/
	/*height: 1.2rem;*/
	width: 1rem;
	height: 1rem;
}
.phone .icon-box{
	width: 1.2rem;
	height: 1.2rem;
}
/*基本灰色 #525252 蓝色 #124C82*/
.icon-box{
	position: relative;
}
/*实线*/
.solid-line{
	border:2px solid #525252;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	transition: all 2s ease;
	transform: rotate(-180deg);
}
.icon-box.active .solid-line{
	transform: rotate(0deg);
}
/*圆点*/
.solid-line .circle{
	position: absolute;
	width: 17.4%;
	height: 17.4%;
	background: #525252;
	border-radius: 50%;
}
.solid-line .circle:nth-of-type(1){
	left: 10%;
	bottom: 0;
}
.solid-line .circle:nth-of-type(2){
	right: 10%;
	top: 0;
}
.icon-box .line-box{
	border:1px dashed #525252;
	border-radius: 50%;
	width: 70%;
	height: 70%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.icon-box .line-box img{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 60%;
}
.icon-box .line-box .icon_light{
	display: none;
}
/*pc下鼠标移入变色*/
.pc .icon-box-wrap:hover .icon-box .solid-line,
.pc .icon-box-wrap:hover .icon-box .line-box{
	border-color: #124C82;
	color: #124C82;
}
.pc .icon-box-wrap:hover .icon-box .circle{
	background: #124C82;
}
.pc .icon-box-wrap:hover .icon-box .icon_light{
	display: block;
}
.pc .icon-box-wrap:hover .icon-box .icon_base{
	display: none;
}

/*内容页公共样式*/
/*pc 端*/
.pc .pc-page-title{
	display: block;
}
.pc-page-title{
	display: none;
	margin-top: 1.34rem;
	text-align: center;
}
.pc-page-title>h1{
	color: #124C82;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
.pc-page-title>h2{
	color: #919191;
	text-align: center;
	font-size: 14px;
	margin-top: .14rem;
}
.pc-page-title>h2>b{
	display: inline-block;
	margin: 0 .16rem;
	font-weight: normal;
}
.pc-page-title>p{
	color: #5B5B5B;
	font-size: 14px;
	margin-top: .34rem;
	text-align: center;
}
/*移动端*/
.phone-page-title{
	margin-top: 1.76rem;
	box-sizing: border-box;
	padding: 0 .3rem;
	display: none;
}
.phone .phone-page-title{
	display: block;
}
.phone-page-title-box{
	margin-left: 1rem;
	height: .75rem;
	border-left: .06rem solid #535353;
	color: #535353;
	padding-left: .16rem;
}
.phone-page-title-box>h1{
	font-size: 16px;
}
.phone-page-title-box>h2{
	/*margin-top: .16rem;*/
	font-size: 14px;
}