body,input,form,p,pre,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
} 
ul,li,ol,dl,dt,dd{
	margin:0;
	padding:0;
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
*{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
i{
	font-style: normal;
}
b{
	font-weight: normal;
}
u{
	text-decoration: none;
}
img{
	border: 0;
}
/*img:not([src$='png']){
	background: #ddd url(../img/defaultBg.png) no-repeat center center; 
	background-size: contain;
}*/
img.img-load{
	background: none;
}
html{
	/*font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Hiragino Sans GB,STHeiTi,Arial,sans-serif;*/
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	min-height: 100%;
	position: relative;
}
body{
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	/*font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-size: 16px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
input,textarea,button{
	border: none;
	outline: none;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; 
}
table {
  border-collapse: collapse;
  border-spacing: 0; 
}
textarea,input,button{
	margin: 0;
	padding: 0;
}
#cli_dialog_div {
	display: none;
}
.clear{
	clear: both;
}
/*单行文本*/
.slh1{
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
/*两行文本*/
.slh2{
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	display: -webkit-box!important;
	overflow: hidden;
	text-overflow:ellipsis;
}
/*三行文本*/
.slh3{
	-webkit-line-clamp:3;
	-webkit-box-orient:vertical;
	display: -webkit-box;
	overflow: hidden;
	text-overflow:ellipsis;
}
.slh4{
	-webkit-line-clamp:4;
	-webkit-box-orient:vertical;
	display: -webkit-box;
	overflow: hidden;
	text-overflow:ellipsis;
}
.slh5{
	-webkit-line-clamp:5;
	-webkit-box-orient:vertical;
	display: -webkit-box;
	overflow: hidden;
	text-overflow:ellipsis;
}
.slh6{
	-webkit-line-clamp:6;
	-webkit-box-orient:vertical;
	display: -webkit-box;
	overflow: hidden;
	text-overflow:ellipsis;
}
.slh7{
	-webkit-line-clamp:7;
	-webkit-box-orient:vertical;
	display: -webkit-box;
	overflow: hidden;
	text-overflow:ellipsis;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.rt{
    float: right;
}
.lf{
    float: left;
}
.pc html,.pc body{
	min-width: 12rem;
}
.pc body{
	padding-top: .6rem;
}
html.phone{
	overflow-x: hidden;
	width: 100%;
}
.phone body{
	overflow-x: hidden;
}
body{
	background: #fff;
}

/*修改滚动条样式*/
.pc .special-scrollbar::-webkit-scrollbar {
    width: .04rem;
    height: .04rem;
    background-color: transparent;
}

.pc .special-scrollbar::-webkit-scrollbar-thumb {
    border-radius: .04rem;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .1);
    background-color: #BCBCBC;
}

/*导航样式*/
.nav{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
.pc .nav{
	right: 0;
	margin: auto;
	width: 12rem;
	height: 1.04rem;
}
.phone .nav{
	width: 100%;
	height: 0.9rem;
}
/*导航留白*/
.pc body{
	padding-top: 1.04rem;
}
.phone body{
	padding-top: 0.9rem;
}