.pc body{
	padding-top: 0;
}


/*$header-top-menu 首页顶部菜单开始*/
.phone .header-top-menu{
	display: none;
	visibility: hidden;
}
.header-top-menu{
	height: 0.7rem;
	width: 100%;
	background: #222222;
	margin-bottom: .6rem;
}
.header-top-menu-con{
	width: 10.68rem;
	height: 100%;
	margin: 0 auto;
}
.header-top-menu-ad{
	float: right;
	display: block;
	height: 100%;
	width: 2.71rem;
	background: url(../img/header_top_menu_logo.png) no-repeat;
	background-size: 100% auto;
}
.header-top-ul{
	float: left;
	width: 7.74rem;
	height: 100%;
}
.header-top-ul li{
	float: left;
	margin-left: .4rem;
	min-width: 1rem;
	width: auto;
	height: 100%;
}
.header-top-ul li:first-child{
	margin-left: 0;
}
.header-top-ul .arr-wrap{
	float: left;
	width: .45rem;
	height: 100%;
	box-sizing: border-box;
	position: relative;
}
.header-top-ul .arr-wrap .arr{
	width: .25rem;
	height: .25rem;
	background:rgb(78,78,78) url(../img/header_top_down_arr.png) no-repeat;
	background-size: 100% 100%;
	border-radius: 50%;
	margin-top: .36rem;
	cursor: pointer;
}
.header-top-ul .arr-wrap .arr:hover{
	background-color: #4AC5DB;
}
.currencyMenuBox{
	display: none;
	width: 1.4rem;
	height: auto;
	margin: .1rem 0;
	z-index: 203;
	left: 0;
	top:.53rem;
	position: absolute;
    background: rgb(235, 238, 240);
    font-size: 14px;
}
.currencyMenuBox .toPriceMenu {
    line-height: 34px;
    color: rgb(85, 85, 85);
    padding: 0px 20px;
    font-family: open sans,arial,sans-serif;
    cursor: pointer;
}
.currencyMenuBox .toPriceMenu:hover{
	background: #4AC5DB;
	color: #fff;
}

.header-top-price{
	float: left;
	box-sizing: border-box;
}
.priceName {
    color: #4ac5db;
    font-family: Roboto, sans-serif;
    color: rgb(74, 197, 219);
    font-size: 20px;
    line-height: 28px;
    margin: 5px 5px 0px 0px;
    font-weight: 100;
}
.priceValue {
	color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    line-height: 34px;
    text-decoration: none;
}
.priceValue a {
    color: rgb(255, 255, 255);
}

.phone body{
	background-color: #F0F2F5;
}

/*$banner 轮播图开始*/

.banner{
	width: 12rem;
	height: auto;
	min-width: 12rem;
	margin: 0 auto;
}

.wap-banner{
	display: none;
}
.phone .pc-banner{
	display: none;
}
.phone .wap-banner{
	display: block;
}


/*$pc-banner PC端banner*/
.pc-banner{
	height: 5.46rem;
}
.pc-banner-col{
	float: left;
	width: 33.33333%;
	height: 100%;
}
.pc-banner-row{
	height: 33.33333%;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}
.pc-banner-row.rowspan2{
	height: 66.66666%;
}
.pc-banner-row .pc-ban-img{
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 3;
	background-repeat: no-repeat;
	background-size: cover;
	transform: scale(1);
	transition: transform .3s ease, .3s;
	-webkit-transition: -webkit-transform .3s ease, .3s;
}
.pc-banner-row:hover .pc-ban-img{
	transform: scale(1.1);	
}
.pc-banner-row a{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	opacity: .8;
}
.pc-banner .pc-ban-mes{
	display: inline-block;
	font-size: 12px;
	color: white;
	padding: .04rem;
	background: rgba(0,0,0,.2);
	position: relative;
	z-index: 6;
	margin: .2rem;
	margin-bottom: .1rem;
	transition: transform .3s ease, .3s;
	-webkit-transition: -webkit-transform .3s ease, .3s;
}
.pc-banner-row:hover .pc-ban-mes{
	background: rgba(0,0,0,.4);
}
.pc-ban1 a{
	background-image: -moz-linear-gradient(45deg,#4db2ec 0%,#4a8f5e 100%);
	background-image: -webkit-linear-gradient(45deg,#4db2ec 0%,#4a8f5e 100%);
	background-image: -o-linear-gradient(45deg,#4db2ec 0%,#4a8f5e 100%);
	background-image: -ms-linear-gradient(45deg,#4db2ec 0%,#4a8f5e 100%);
	background-image: linear-gradient(45deg,#4db2ec 0%,#4a8f5e 100%);
}
.pc-ban2 a{
	background-image: -moz-linear-gradient(135deg,rgba(244,208,63,0.97) 0%,#f27a35 100%);
	background-image: -webkit-linear-gradient(135deg,rgba(244,208,63,0.97) 0%,#f27a35 100%);
	background-image: -o-linear-gradient(135deg,rgba(244,208,63,0.97) 0%,#f27a35 100%);
	background-image: -ms-linear-gradient(135deg,rgba(244,208,63,0.97) 0%,#f27a35 100%);
	background-image: linear-gradient(135deg,rgba(244,208,63,0.97) 0%,#f27a35 100%);
}
.pc-ban3 a{
	background-image: -moz-linear-gradient(45deg,#d17646 0%,#c63939 100%);
	background-image: -webkit-linear-gradient(45deg,#d17646 0%,#c63939 100%);
	background-image: -o-linear-gradient(45deg,#d17646 0%,#c63939 100%);
	background-image: -ms-linear-gradient(45deg,#d17646 0%,#c63939 100%);
	background-image: linear-gradient(45deg,#d17646 0%,#c63939 100%);
}
.pc-ban4 a{
	background-image: -moz-linear-gradient(135deg,#d760b7 0%,#3b78b4 100%);
	background-image: -webkit-linear-gradient(135deg,#d760b7 0%,#3b78b4 100%);
	background-image: -o-linear-gradient(135deg,#d760b7 0%,#3b78b4 100%);
	background-image: -ms-linear-gradient(135deg,#d760b7 0%,#3b78b4 100%);
	background-image: linear-gradient(135deg,#d760b7 0%,#3b78b4 100%);
}
.pc-ban5 a{
	background-image: -moz-linear-gradient(45deg,#4db2ec 0%,#4a8f5e 100%);
	background-image: -webkit-linear-gradient(45deg,#4db2ec 0%,#4a8f5e 100%);
	background-image: -o-linear-gradient(45deg,#4db2ec 0%,#4a8f5e 100%);
	background-image: -ms-linear-gradient(45deg,#4db2ec 0%,#4a8f5e 100%);
	background-image: linear-gradient(45deg,#4db2ec 0%,#4a8f5e 100%);
}
.pc-ban6 a{
	background-image: -moz-linear-gradient(45deg,#4db2ec 0%,#4a8f5e 100%);
	background-image: -webkit-linear-gradient(45deg,#4db2ec 0%,#4a8f5e 100%);
	background-image: -o-linear-gradient(45deg,#4db2ec 0%,#4a8f5e 100%);
	background-image: -ms-linear-gradient(45deg,#4db2ec 0%,#4a8f5e 100%);
	background-image: linear-gradient(45deg,#4db2ec 0%,#4a8f5e 100%);
}
.pc-ban7 a{
	background-image: -moz-linear-gradient(135deg,#b0b43b 0%,rgba(145,96,81,0.97) 100%);
	background-image: -webkit-linear-gradient(135deg,#b0b43b 0%,rgba(145,96,81,0.97) 100%);
	background-image: -o-linear-gradient(135deg,#b0b43b 0%,rgba(145,96,81,0.97) 100%);
	background-image: -ms-linear-gradient(135deg,#b0b43b 0%,rgba(145,96,81,0.97) 100%);
	background-image: linear-gradient(135deg,#b0b43b 0%,rgba(145,96,81,0.97) 100%);
}
.pc-banner p{
	position: relative;
	z-index: 6;
	color: white;
	padding: 0 .2rem;
	box-sizing: border-box;
}



/*$wap-banner 移动端 banner*/
.wap-banner a{
	display: block;
	width: 100%;
	height: auto;
	max-height: 3.48rem;
}
.wap-banner a>img{
	display: block;
	width: 100vw;
	max-width: 100vw;
}
.phone .banner{
	max-width: 100%;
	overflow: hidden;
	width: 100%;
	min-width: 100%;
}
.wap-banner .swiper-pagination-bullet{
	background: rgba(255,255,255,0.8);
}
.wap-banner .swiper-pagination-bullet-active{
	background: rgba(255,255,255,1);
}
.wap-banner .swiper-slide{
	position: relative;
}
.wap-banner .text-mask{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1.3rem;
	background: rgba(0,0,0,.6);
	color: white;
	line-height: .44rem;
	font-size: 16px;
}
.wap-banner .text-mask p{
	padding-top: .26rem;
	padding-left: .24rem;
	box-sizing: border-box;
	width: 6rem;
}


/*$project-eval 项目评测*/
.project-eval{
	width: 12rem;
	min-width: 12rem;
	margin: .2rem auto 0;
	height: auto;
}
.phone .project-eval{
	max-width: 100%;
	min-width: 100%;
	width: 100%;
}
.project-eval-swiper .swiper-slide{
	width: 2.18rem!important;
	height: 2.16rem;
	box-sizing: border-box;
	margin-right: .276rem;
	overflow: hidden;
}
.project-eval-swiper .swiper-slide:last-child{
	margin-right: 0;
}
.project-eval-swiper .pro-eval-box{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	box-sizing: border-box;
	border-radius: .06rem;
	overflow: hidden;
	background-color: white;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.06);
}
.pro-eval-box .pro-eval-img{
	display: block;
	width: 100%;
	height: 1.58rem;
	background-repeat: no-repeat;
	background-size: cover;
}
.pro-eval-box .tips{
	position: absolute;
	height: .24rem;
	width: .8rem;
	text-align: center;
	line-height: .22rem;
	color: white;
	left: 0;
	top: 0;
	font-size: 12px;
	transform: translate3d(-.3rem,.1rem,0) rotate(-45deg);
	-ms-transform: translate3d(-.3rem,.1rem,0) rotate(-45deg);
	-moz-transform: translate3d(-.3rem,.1rem,0) rotate(-45deg);
	-webkit-transform: translate3d(-.3rem,.1rem,0) rotate(-45deg);
	-o-transform: translate3d(-.3rem,.1rem,0) rotate(-45deg);

	transform-origin:50% 0%;
}
.pro-start{
	/*height: .6rem;*/
	width: 100%;
	box-sizing: border-box;
	padding: 0 .16rem;
	position: relative;
}
.pro-start>h2{
	font-weight: normal;
	font-size: 14px;
	color: #000;
	margin-top: .06rem;
	margin-bottom: .04rem;
	padding-left: .04rem;
	transition: .3s all ease;
	-webkit-transition: .3s all ease;
}
.pro-start .pro-score{
	font-size: 28px;
	color: #E8AD47;
	position: absolute;
	right: .16rem;
	top: .1rem;
	transition: .3s all ease;
	-webkit-transition: .3s all ease;
}
.pro-start .pro-score span{
	font-size: 14px;
}

.pc .project-eval-swiper .pro-eval-box{
	transition: .3s all ease;
	-webkit-transition: .3s all ease;
	height: auto;
	padding-bottom: .55rem;
}
.pc .project-eval-swiper .swiper-slide:last-child .pro-eval-box{
	transition: none;
	-webkit-transition: none;
	transform: none;
	height: 100%;
}

.pc .swiper-slide:hover .pro-eval-box{
	transform: translateY(-1.58rem);
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
}
.pc .swiper-slide:hover .pro-eval-box .pro-start h2{
	font-size: 16px;
	font-weight: bold;
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
}
.pc .swiper-slide:hover .pro-eval-box .pro-score{
	font-size: 14px;
	right: .78rem;
	top: .26rem;
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
}
.pc .swiper-slide:hover .pro-eval-box .pro-score span{
	font-size: 14px;
}
.phone .pro-start p{
	display: none;
}
.phone .pro-score{
	top: 0;
}
.pro-start p{
	margin-top: .1rem;
	color: #636363;
	line-height: .2rem;
	font-size: 14px;
	height: .8rem;
}
.jump-project{
	display: none;
}
.pc .jump-project{
	background-color: #5B6FB8;
	display: block;
	width: 1.6rem;
	height: .4rem;
	line-height: .4rem;
	text-align: center;
	color: white;
	margin: .2rem auto 0; 
}
.pc .jump-project:hover{
	background-color: #27409B;
}
.pro-mask-a{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
}
.pc .pro-mask-a{
	display: none;
}
.phone .pro-mask-a{
	font-size: 12px;
}
.see-more a{
	display: flex!important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.see-more img{
	display: block;
	/*margin: .76rem auto .1rem;*/
}
.see-more span{
	margin-top: .1rem;
	display: block;
	text-align: center;
	color: #9B9B9B;
	font-size: 12px;
}
/*星星*/
.star-evaluate {
    position: relative;
    width: 1rem;
    height: .2rem;
    background: url("../img/icon-star-default.png") repeat-x;
    background-size: .2rem .2rem;
    overflow: hidden;
}
.star {
    display: block;
    height: .2rem;
    width: .2rem;
    position: absolute;
    z-index: 2;
    top: 0;
    cursor: pointer;
    background: url("../img/icon-star-active.png") no-repeat;
    background-size: .2rem .2rem;
}

.star-1 {
    left: 0;
}
.star-2 {
    left: .2rem;
}
.star-3 {
    left: .4rem;
}
.star-4 {
    left: .6rem;
}
.star-5 {
    left: .8rem;
}
.star-full-0{ width: 0; }
.star-full-1{ width: .02rem; }
.star-full-2{ width: .04rem; }
.star-full-3{ width: .06rem; }
.star-full-4{ width: .08rem; }
.star-full-5{ width: .1rem; }
.star-full-6{ width: .12rem; }
.star-full-7{ width: .14rem; }
.star-full-8{ width: .16rem; }
.star-full-9{ width: .18rem; }
.star-full-10{ width: .2rem; }





.pro-eval-box .tips.tip-hot{
	background-color: #DA5D1A;
}
.pro-eval-box .tips.tip-select{
	background-color: #62BC5A;
}

.phone .project-eval-swiper .pro-eval-box{
	border-radius: 0;
}
.phone .project-eval-swiper .swiper-slide{
	width: 2.44rem!important;
	height: 2.44rem;
	margin-right: .5rem;
}
.phone .pro-start{
	height: .7rem;
}
.phone .pro-start .pro-score{
	bottom: .02rem;
}


/*$author-list 移动端作者专栏开始*/
.phone .author-list{
	display: block;
}
.author-list{
	display: none;
	width: 100%;
	height: 1.82rem;
	margin: .15rem auto 0;
	box-sizing: border-box;
}
.author-list .swiper-slide{
	width: 1.48rem!important;
	height: 1.82rem;
	margin-left: .1rem;
	background: #fff;
	border: 1px solid #EDECF1;
}
.author-list .swiper-slide:first-child{
	margin-left: 0;
}
.author-list .swiper-slide a{
	display: block;
	width: 100%;
	height: 100%;
}
.author-list .swiper-slide a .author-logo{
	display: block;
	width: .8rem;
	height: .8rem;
	border-radius: 50%;
	margin: .26rem auto .06rem;
}
.author-list .swiper-slide a h1{
	margin: 0 auto;
	color: #3C3C3C;
	font-size:10px;
	text-align: center;
	font-weight: normal;
}
.author-list .swiper-slide p{
	font-size: 0;
	text-align: center;
}
.author-list .swiper-slide i,
.author-list .swiper-slide span{
	display: inline-block;
	vertical-align: middle;
}
.author-list .swiper-slide i{
	width: .22rem;
	height: .16rem;
	background: url(../img/look.png) no-repeat;
	background-size: 100% 100%;
}
.author-list .swiper-slide span{
	font-size: 10px;
	color: #C1C1C1;
	margin-left: .04rem;
}





/*$ad1 广告位1 开始*/
.ad1{
	display: none;
	width: 12rem;
	margin: .14rem auto 0;
	height: .7rem;
}
.pc .ad1{
	display: block;
}
.ad1 ul{
	width: 100%;
	height: 100%;
}
.ad1 li{
	float: left;
	width: 1.6rem;
	height: .7rem;
	margin-left: .13333rem;
}
.ad1 li a{
	display: block;
	width: 100%;
	height: 100%;
}
.ad1 li img{
	display: block;
	width: 100%;
	height: 100%;
	max-width: 100%;
}
.ad1 li:first-child{
	margin-left: 0;
}

/*$rank-box 行情2开始*/
.pc .rank-box{
	display: block;
}
.rank-box{
	display: none;
	width: 12rem;
	margin: .2rem auto;
	height: auto;
	background: #fff;
	position: relative;
	box-sizing: border-box;
	padding: 0 .15rem;
	height: 3.4rem;
	overflow: hidden;
}
.rank-box>h1{
	font-size: 16px;
    margin-top: .1rem;
    margin-left: .12rem;
    margin-bottom: .1rem;
}
.rank-box>a {
    color: #888888;
    font-size: 14px;
    position: absolute;
    right: .07rem;
    top: 0.14rem;
    font-weight: bold;
}



/*$main 主要模块开始*/
.main{
	width: 12rem;
	margin: .15rem auto 0;
	height: auto;
}

/*$main-left 左侧模块开始*/
.main-left{
	float: left;
	width: 8.22rem;
	box-sizing: border-box;
	border:1px solid #E2E2E2;
	background-color: #fff;
	position: relative;
	margin-bottom: .4rem;
}
.main-tab-head{
	background-color: #fff;
}
.main-tab-head.tofixed{
	position: fixed;
	top: .84rem;
	right: 0;
}
.main-tab-head.tofixed + .main-left-con{
	background-color: red;
	margin-top: .88rem;
}
.main-tab-head .swiper-slide span{
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.pc .main-left{
	padding: 0 .38rem;
}
.pc .main-tab-head{
	width: 100%;
	height: .48rem;
	border-bottom: 1px solid #DCDCDC;
	line-height: .48rem;
	color: #919190;
	font-weight: bold;
	overflow: visible;
}
.pc .main-tab-head .swiper-slide{
	float: left;
	height: 100%;
	box-sizing: border-box;
	width: auto;
	margin-right: .25rem;
}
.pc .main-tab-head .swiper-slide.active{
	color: #4286F5;
}
.line{
	display: none;
	position: absolute;
	left: 0;
	bottom:  -1px;
	height: 1px;
	background: #4286F5;
	width: 100%;
}
.pc .main-tab-head .swiper-slide.active .line{
	display: block;
}

.phone .main{
	width: 100%;
}
.phone .main-left{
	width: 100%;
	float: none;
}
.phone .main-tab-head{
	overflow: visible;
	width: 100%;
	height: .88rem;
	line-height: .88rem;
	border-bottom: 1px solid #C3C3C3;
	text-align: center;
	color: #959595;
	font-size: 14px;
}
.phone .main-tab-head .swiper-slide{
	width: 1.44rem!important;
}
.phone .main-tab-head .swiper-slide.active .line{
	display: block;
}
.phone .line{
	height: 3px;
}
.phone .main-tab-head .swiper-slide.active{
	color: #4286F5;
}
.main-tab-head-pagination{
	display: none;
}
.phone .main-tab-head-pagination{
	width: 100vw;
	display: block;
	bottom: -5px;
	top: auto;
}
.main-tab-head-pagination .swiper-pagination-progressbar-fill{
	background: #080705;
}
.main-tab-head-pagination{
	background: rgba(0,0,0,0);
}

/*$main-left-con 左侧选项体开始*/
.main-left-con{
	width: 100%;
	height: 100%;
	position: relative;
}
.main-left-con>li{
	display: none;
	background: white;
	width: 100%;
	height: 100%;
}
.main-left-con>li.active{
	display: block;
}

/*$left-list-model 左侧模板开始*/
.left-list-model{
	width: 100%;
	box-sizing: border-box;
	height: auto;
}
.pc .left-list-model{
	max-height: 21rem;
	overflow-y: auto;
}
.left-list-model dd{
	width: 100%;
	border-bottom: 1px solid #DDDDDC;
	height: 2.1rem;
	box-sizing: border-box;
	padding-top: .2rem;
}
.left-list-model .mod-logo{
	float: left;
	width: 2.6rem;
	height: 1.6rem;
	overflow: hidden;
	border-radius: .08rem;
}
.left-list-model .mod-logo img{
	display: block;
	width: 100%;
	height: 100%;
}
.mod-mes{
	float: left;
	margin-left: .2rem;
	width: 4.4rem;
	height: 1.6rem;
	position: relative;
}
.mod-title{
	display: block;
	color: #3D474D;
	font-size: 16px;
	line-height: .28rem;
	font-weight: bold;
}
.mod-title:hover{
	color: #4385F4;
}
.mod-p{
	color: #828A92;
	font-size: 14px;
	line-height: .24rem;
}
.mod-bottom-mes{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: .18rem;
}
.mod-bottom-mes>li{
	float: left;
	color: #9A989B;
	font-size: 13px;
}
.mod-bottom-mes>li:nth-of-type(1){
	margin-right: .1rem;
}
.mod-bottom-mes li a,
.mod-bottom-mes li span,
.mod-bottom-mes li i{
	display: inline-block;
	vertical-align: middle;
	color: #9A989B;
}
.mod-newleft i{
	width: 13px;
	height: 13px;
	background: url(../img/authentication-icon-edit.png) no-repeat;
    background-size: 13px 13px;
    vertical-align: middle;
}
.changtag{
	margin-left: .3rem;
}
.changtag a{
	margin-right: .1rem;
}
.changtag i{
	width: 10px;
	height: 10px;
	background: url(../img/tag.png) no-repeat;
    background-size: 10px 10px;
    vertical-align: middle;
}
.mod-newleft a{
	display: inline-block;
	color: #9A989B;
	vertical-align: middle;
}
.mod-bottom-mes .right-fire{
	float: right;
}
.right-fire i{
	width: 8px;
	height: 11px;
	background: url(../img/right-icon-fire.png) no-repeat;
    background-size: 8px 11px;
    vertical-align: middle;
}
.phone .left-list-model dd{
	padding-top: .3rem;
}
.phone .left-list-model{
	padding: 0 0.2rem;
}
.phone .left-list-model dd{
	height: 1.9rem;
}
.phone .left-list-model .mod-logo{
	width: 2rem;
	height: 1.3rem;
	border-radius: 0;
}
.phone .mod-mes{
	width: 4.46rem;
	height: 1.3rem;
}
.phone .mod-bottom-mes{
	height: .3rem;
}
.phone .mod-title{
	font-size: 13px;
	line-height: .4rem;
}
.phone .mod-p{
	display: none;
}
.phone .mod-date{
	margin-left: .26rem;
}
.phone .mod-newleft i{
	display: none;
}
.phone .changtag{
	display: none;
}

.pc .load-more{
	position: absolute;
	color: #0368AE;
	font-size: 16px;
	width: .8rem;
	height: .2rem;
	line-height: .2rem;
	left: 0;
	right: 0;
	margin: auto;
	bottom: -.4rem;
	text-align: center;
	cursor: default;
}
.phone .load-more{
	color: #2D4DB0;
	width: 6.8rem;
	height: .7rem;
	box-sizing: border-box;
	text-align: center;
	line-height: .7rem;
	border: 1px solid #2D4DB0;
	font-size: 12px;
	margin: .3rem auto;
	cursor: default;
	
}


/*$main-right 右侧模块开始*/
.main-right{
	float: right;
	width: 3.72rem;
	min-height: 2rem;
}
.phone .main-right{
	display: none;
}

/*$news-flash 快讯开始*/
.news-flash{
	width: 100%;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #D9D9D9;
	height: 4.16rem;
	margin-bottom: .06rem;
}
.news-flash-tab-head{
	height: .34rem;
	position: relative;
}
.news-flash-tab-head .jump-to-newsflash{
	position: absolute;
	right: 0.08rem;
	top: 0.04rem;
	font-size: 14px;
	color: #4286F5;
}
.news-flash-tab-head li{
	float: left;
	height: 100%;
	line-height: .34rem;
	margin: 0 .17rem;
	cursor: pointer;
	box-sizing: border-box;
}
.news-flash-tab-head li.active{
	font-weight: bold;
}





.news-flash-tab-con{
	height: 3.8rem;
	position: relative;
}
.news-flash-tab-con>li{
	width: 100%;
	height: 100%;
	overflow-y: auto;
	display: none;
	background: #fff;
} 
.news-flash-tab-con>li.active{
	display: block;
}
.news-flash-tab-con dd{
	margin-bottom: .2rem;
}
.news-flash-tab-con dd:hover{
	background: #FAFAFA;
}

.nf-date{
	float: left;
	overflow: hidden;
	width: .9rem;
	height: auto;
	box-sizing: border-box;
}
.nf-date span{
	font-size: 12px;
	padding-left: .18rem;
}
.nf-info{
	float: right;
	box-sizing: border-box;
	width: auto;
	padding: 0 .15rem;
}
.nf-info a{
	color: #454644;
	line-height:  .24rem;
	font-size: 14px;
}
.nf-info:hover a{
	color: #6098F5;
}
.news-flash-tab-con .star-evaluate{
	transform: scale(0.7);
}



/*$hot-label 热点标签开始*/
.hot-label{
	width: 100%;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #D9D9D9;
	padding: .15rem;
	height: auto;
	margin-bottom: .15rem;
}

.mod-h1{
	border-bottom: 1px dashed #D5D5D5;
	text-align: center;
	height: .2rem;
	line-height: .1rem;
	font-size: 16px;
	font-weight: bold;
}
.hot-label-ul{
	width: 100%;
}
.hot-label-ul li{
	float: left;
	width: auto;
	display: inline-block;
	margin-top: .1rem;
	margin-right: .1rem;
}
.hot-label-ul li a{
	display: block;
	padding: 0 .24rem;
	color: #7F7F7F;
	line-height: .22rem;
	height: .2rem;
	font-size: 14px;
	border: 1px solid #D5D5D5;
	border-radius: .1rem;
}.hot-label-ul li a:hover{
	color: #3193F7;
	border-color: #3193F7;
	cursor: pointer;
}


/*$columnist 专栏作者开始*/
.columnist{
	background-color: #fff;
	box-sizing: border-box;
	border: 1px solid #D4D4D4;
	width: 100%;
	padding: .15rem;
	margin-bottom: .1rem;
}
.columnist ul{
	width: 100%;
	max-height: 4rem;
	overflow-y: auto;
}
.columnist li{
	width: 100%;
	height: 1.32rem;
	border-bottom: 1px solid #F4F5F9;
}
.columnist li:last-child{
	border-bottom: none;
}	
.columnist a{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}
.col-author{
	float: left;
	width: .7rem;
	height: .7rem;
	border-radius: 50%;
	margin-top: .22rem;
}
.col-mes{
	float: left;
	margin-top: .22rem;
	width: 2.26rem;
	margin-left: .2rem;
	color: black;
	font-size: 14px;
}
.col-mes h2{
	font-weight: normal;
	font-size: 14px;
}
.col-mes h2:hover,
.col-mes p:hover{
	color: #3193F8;
}
.col-mes p{
	margin-top: .15rem;
}
.col-atten{
	box-sizing: border-box;
	position: absolute;
	top: .22rem;
	right: .16rem;
	width: .72rem;
	height: .26rem;
	border: 1px solid #3192F9;
	color: #3192F9;
	text-align: center;
	line-height: .24rem;
	font-size: 14px;
	border-radius: .13rem;
}
.col-atten:hover{
	color: #fff;
	background-color: #3192F9;
}


/*$hot-article 热门文章*/
.hot-article{
	box-sizing: border-box;
	border: 1px solid #D7D7D7;
	background-color: #fff;
	padding-left: .3rem;
	padding-right: .2rem;
}
.hot-article h1{
	font-size: 18px;
	font-weight: normal;
	position: relative;
	margin-top: .28rem;
	margin-bottom: .16rem;
	margin-left: .25rem;
}
.hot-article h1 i{
	position: absolute;
	top: 0;
	bottom: 0;
	left: -.3rem;
	margin: auto;
	background: url(../img/du.png) no-repeat;
	width: .21rem;
	height: .2rem;
}
.hot-article li{
	position: relative;
	height: .42rem;
	width: 100%;
	margin-bottom: .2rem;
	box-sizing: border-box;
}
.hot-article li a{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.hot-art-logo{
	width: .74rem;
	height: .42rem;
	display: block;
	float: left;
}
.hot-num{
	position: absolute;
	left: 0;
	top: 0;
	width: .14rem;
	height: .14rem;
	text-align: center;
	line-height: .13rem;
	font-size: 12px;
	z-index: 5;
	color: #fff;
}
.hot-article li p{
	float: left;
	color: #343434;
	font-size: 14px;
	line-height: .2rem;
	margin-left: .1rem;
	width: 2.1rem;
}
.hot-article li:nth-of-type(2) .hot-num{ background: #E58D00; }
.hot-article li:nth-of-type(3) .hot-num{ background: #F5CD23; }
.hot-article li:nth-of-type(4) .hot-num{ background: #4A4A4A; opacity: 0.7;}
.hot-article li:nth-of-type(5) .hot-num{ background: #4A4A4A; opacity: 0.7; }
.hot-article li:nth-of-type(6) .hot-num{ background: #4A4A4A; opacity: 0.7;}

.hot-article .hot-first-art{
	width: 2.9rem;
	height: 1.6rem;
}
.hot-article .hot-first-art .hot-art-logo{
	width: 100%;
	height: 100%;
	display: block;
}
.hot-article .hot-first-art p{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: .38rem;
	background: rgba(0,0,0,0.5);
	box-sizing: border-box;
	margin: 0;
	color: white;
	line-height: .38rem;
	font-size: 16px;
	padding: 0 .15rem;
}
.hot-first-art .hot-art-logo{
	transform: scale(1);
	transition: transform .5s ease;
	-webkit-transition: -webkit-transform .5s ease;
}
.hot-first-art:hover .hot-art-logo{
	transform: scale(1.1);
}
.hot-first-art p:hover{
	text-decoration: underline;
}
.hot-first-art .hot-num{
	font-size: 0;
	width: .36rem;
	height: .3rem;
	background: url(../img/no.1.png) no-repeat;
	left: .2rem;
}


/*$product 区块链周边产品开始*/
.product{
	display: none;
	width: 12rem;
	height: auto;
	margin: .3rem auto .24rem;
	box-sizing: border-box;
}
.pc .product{
	display: block;
}
.product .product-item{
	float: left;
	width: 3.9rem;
	min-height: 1rem;
	background: #fff;
	border: 1px solid #DCDCDC;
	box-sizing: border-box;
	margin-left: .15rem;
	padding: .13rem .2rem;
}
.product .product-item:first-child{
	margin-left: 0;
}
.product-title{
	width: 100%;
	height: .56rem;
	box-sizing: border-box;
	border-radius: .06rem;
	background: #FF6666;
	color: white;
	line-height: .56rem;
	text-align: left;
	padding-left: .15rem;
	font-size: 24px;
}
.product-item>ul{
	width: 100%;
	height: auto;
}
.product-li{
	width: 100%;
	height: 2.2rem;
	margin-top: .2rem;
}
.product-li a{
	display: block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-radius: .08rem;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.product-logo{
	float: left;
	display: block;
	width: 1rem;
	height: 1rem;
}
.product-mes{
	float: left;
	margin-left: .2rem;
	width: 2.1rem;
	height: auto;
}
.product-mes h2{
	font-size: 16px;
	color: #121210;
}
.product-start{
	width: 1.5rem;
	height: .2rem;
	margin-top: .12rem;
}
.product-start i{
	float: left;
	width: .23rem;
	margin-right: .07rem;
	height: .2rem;
	background-repeat: no-repeat;
}
.product-start .start-full{
	background-image: url(../img/start_full.png);
}
.product-start .start-hollow{
	background-image: url(../img/start_hollow.png);
}
.product-mes p{
	margin-top: .1rem;
	color: #303531;
	font-size: 14px;
	line-height: .2rem;
}



/*$sponsor 赞助商开始*/
.sponsor{
	width: 100%;
	height: auto;
	background: #fff;
	padding-top: .2rem;
	margin-top: .5rem;
}
.sponsor .spon-title{
	width: 6.6rem;
	margin: 0 .6rem auto .3rem;
	border-bottom: 1px solid #E9E9E9;
	height: .72rem;
	line-height: .72rem;
	font-size: 16px;
	position: relative;
    padding-left: .8rem;
    box-sizing: border-box;
    position: relative;
    color: #555555;
}
.spon-title i{
	position: absolute;
	left: -.1rem;
	top: .08rem;
	background:#fff url(../img/diamond.png) no-repeat center center;
	width: .76rem;
	height: .76rem;
	border: 1px solid #E9E9E9;
	border-radius: 50%;
	box-sizing: border-box;
}
.spon-ul{
	width: 100%;
	height: auto;
	margin-top: .4rem;
}
.spon-ul li{
	float: left;
	width: 1.2rem;
	height: 1.2rem;
    margin: 0 .1rem .2rem .1rem;
    border-radius: .06rem;
    overflow: hidden;
}
.spon-ul li a,
.spon-ul li img{
	display: block;
	width: 100%;
	height: 100%;
}