.bg-logo{
	display: none;
}
.pc .bg-logo{
	display: block;
	position: fixed;
	width: 12rem;
	height: 6rem;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;

	background:url(../img/logo_bg.png) no-repeat;
	background-position: right top;
}